<h1 class="h1 d-flex justify-content-center align-items-center">{{name}}</h1>
<app-knihy-formular  [kniha]="knihaNaUpravu"
                      (pridajKnihuEmitter)="pridajKnihu($event)"
                      (upravKnihuEmitter)="upravKnihu($event)">
</app-knihy-formular>

<app-knihy-zoznam [knihy]="knihy"
                  (upravKnihu)="upravZoZoznamu($event)"
                  (zmazKnihu)="zmazZoZoznamu($event)">

</app-knihy-zoznam>

<br>

<div>
  <button pButton pRipple class="p-button-rounded p-button-help m-2" (click)="chodSpat()">SPÄŤ</button>
</div>
