<h1 class="h1 d-flex justify-content-center allign-items-center">{{name}}</h1>
<app-customer-formular  [customer]="customerNaUpravu"
                     (pridajOsobuEmitter)="pridajCustomer($event)"
                     (upravOsobuEmitter)="upravCustomer($event)">
</app-customer-formular>

<app-customer-zoznam [customersz]="customers"
                  (editCustomer)="upravZoZoznamu($event)"
                  (removeCustomer)="zmazZoZoznamu($event)">

</app-customer-zoznam>

<br>

<div>
  <button pButton pRipple class="p-button-rounded p-button-help m-2" (click)="chodSpat()">SPÄŤ</button>
</div>
