<div class="container-fluid">
  ZOZNAM: <br>
  <div *ngIf="!knihy || knihy?.length == 0">
    Zoznam kníh je prázdny.
  </div>

  <table class="table table-striped" *ngIf="knihy?.length >0">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">NAZOV KNIHY</th>
      <th scope="col">AUTOR</th>
      <th scope="col">ISBN</th>
      <th scope="col">POCET KNIH</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let k of knihy">
      <td>{{k.id}}</td>
      <td>{{k.title}}</td>
      <td>{{k.name}}</td>
      <td>{{k.isbn}}</td>
      <td>{{k.bookCount}}</td>
      <td>
        <button (click)="uprav(k.id)">Upraviť</button>
        <button (click)="zmaz(k.id)">Zmazať</button>
      </td>
    </tr>


    </tbody>

  </table>


</div>
