<div class="container-fluid">
  ZOZNAM:<br>
  <div *ngIf="!customersz || customersz?.length == 0">
    Zoznam osôb je prázdny.
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">MENO</th>
      <th scope="col">KONTAKT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customersz">
      <td>{{ c.id }}</td>
      <td>{{ c.customerName }}</td>
      <td>{{ c.contact }}</td>
      <td>
        <button (click)="edit(c.id)">Uprav</button>
        <button (click)="remove(c.id)">Odstran</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
