<h2 class="h2 mx-3">{{name}}</h2>
<p-toast></p-toast>

<div class=" card container-fluid">
  <p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="Zmaž vybrané" icon="pi pi-trash" class="p-button-danger" (click)="vymazVybranychZakaznikov()" [disabled]="!vybratiZakaznici || !vybratiZakaznici.length"></button>
  </ng-template>
  </p-toolbar>
  ZOZNAM:<br>
  <div *ngIf="!customersz || customersz?.length == 0">
    Zoznam osôb je prázdny.
  </div>
  <p-table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">MENO</th>
      <th scope="col">KONTAKT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customersz">
      <td>{{ c.id }}</td>
      <td>{{ c.customerName }}</td>
      <td>{{ c.contact }}</td>
      <td>
        <button (click)="edit(c.id)">Uprav</button>
        <button (click)="remove(c.id)">Odstran</button>
      </td>
    </tr>
    </tbody>
  </p-table>
</div>

<p-confirmDialog header="Mazanie" [style]="{width: '450px'}"></p-confirmDialog>
