<h1>Knihy - formular</h1>

<div class="container-fluid">
  <form [formGroup]="knihaForm">
    <label>
      Nazov: <input type="text" formControlName="nazov">
    </label>
    <br>
    <label>
      Autor: <input type="text" formControlName="autor">
    </label>
    <br>
    <label>
      Dostupnost: <input type="text" formControlName="dostupnost">
    </label>
    <br><br>
    <button (click)="pridajKnihu()" *ngIf="knihaForm.value.id === null">Pridaj</button>
    <button (click)="upravKnihu()" *ngIf="knihaForm.value.id !== null">Uprav</button>
    <button (click)="zrus()">Zrusit</button>
  </form>
</div>
