<h1>Knihy - formular</h1>

<div class="container-fluid">
  <form [formGroup]="knihaForm">
    <label>
      ID: <input type="text" formControlName="id" readonly>
    </label>
    <br>
    <label>
      Nazov knihy: <input type="text" formControlName="title">
    </label>
    <br>
    <label>
      Autor: <input type="text" formControlName="name">
    </label>
    <br>
    <label>
      ISBN: <input type="text" formControlName="isbn">
    </label>
    <br>
    <label>
      Pocet knih: <input type="number" min="0" formControlName="bookCount">
    </label>
    <br><br>
    <button (click)="pridajKnihu()" *ngIf="knihaForm.value.id === null">Pridaj</button>
    <button (click)="upravKnihu()" *ngIf="knihaForm.value.id !== null">Uprav</button>
    <button (click)="zrus()">Zrusit</button>
  </form>
</div>
